.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Robot {
  width: 250px;
  height: 250px;
  background-image: url("./assets/robot.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.App-header {
  background-color: #30353f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}